{$CADDY_HOSTNAME} {
    tls {
        issuer acme {
            profile shortlived
            disable_http_challenge
            disable_tlsalpn_challenge
            dns cloudflare {env.CF_API_TOKEN}
        }
    }

    reverse_proxy service:8000
}
